
.container11 {
  color: #e5e5e5;
  font-size: 1rem;
  text-transform: uppercase;
  display: flex;
 height:fit-content;
  justify-content: center;
}

.animation1 {
  height: 50px;
  width: 100%;
  overflow: hidden;
  margin-left: 1rem;
}



.first1 {
  animation: text-animation2 8s infinite;
}

.first1 div {
  /* background-color: #20a7d8; */
  width: 100%;
  display: flex;
  justify-content: center;

}
.second1 div {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  width: 100%;
}
.third1 div {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
}

@keyframes text-animation2 {
  0% {
    margin-top: 1rem;
  }
  10% {
    margin-top: 1rem;
  }
  20% {
    margin-top: -1rem;
  }
  30% {
    margin-top: -1rem;
  }
  40% {
    margin-top: -4rem;
  }
  60% {
    margin-top: -4rem;
  }
  70% {
    margin-top: -1rem;
  }
  80% {
    margin-top: -1rem;
  }
  90% {
    margin-top: 1rem;
  }
  100% {
    margin-top: 1rem;
  }
}
