.comp111{
    background-image: url('../../public/images/squarebg.png');
    background-size: 100vw;
    background-position: center;
  position: relative;
  }

  .compstar{
    background-image: url('../../public/images/starbg.png');
    background-size: 100%;
    opacity:0.5;
    background-position: center;
  position: relative;
  }

  @media screen and (max-width: 600px) {
    .compstar {
     background-color: #000000;
    }

    .bgicompcls{
      margin-top: -300vh;
    }
    .comp111{
      background-image: url('../../public/images/squarebg2.png');
      background-size: 100vw;
      background-position: center;
    position: relative;
    }
  }


  .comp1{
    background-image: url('../../public/images/squarebg.png');
    background-size: 100vw;
  background-repeat: no-repeat;
  position: relative;
  }





.glass{
 
 
  background: linear-gradient(90deg, rgba(240,12,208,0.3982843137254902) 1%, rgba(183,9,245,0.37307422969187676) 48%, rgba(0,155,255,0.40388655462184875) 100%);  box-shadow: 0 8px 32px 0 rgba(46, 57, 206, 0.37);
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}




 




  .card1{
    background-image: url('../../public/images/card11bg.png');

    background-size: 100%;
    background-position: center;
  background-repeat: no-repeat;
  position: relative;
  }
  .card2{
    background-image: url('../../public/images/card22bg.png');

    background-size: 100%;
    background-position: center;
  background-repeat: no-repeat;
  position: relative;
  }
  .card3{
    background-image: url('../../public/images/card33bg.png');

    background-size: 100%;
    background-position: center;
  background-repeat: no-repeat;
  position: relative;
  }






  .comp31{
    background-image: url('../../public/images/skillbg.png');

    background-size: 100%;
    background-position: center;
  background-repeat: no-repeat;
  position: relative;
  }
  .comp32{
    background-image: url('../../public/images/skill2bg.png');

    background-size: 100%;
    background-position: center;
  background-repeat: no-repeat;
  position: relative;
  }

  .comp2{
    background-image: url('../../public/images/cardbg.png');
    background-size: 100vw;
  background-repeat: no-repeat;
  position: relative;
  }
  /* .comp22{
    background-image: url('../../public/images/card2bg.png');
    background-size: 100vw;
  background-repeat: no-repeat;
  position: relative;
  }
  .comp23{
    background-image: url('../../public/images/card3bg.png');
    background-size: 100vw;
  background-repeat: no-repeat;
  position: relative;
  } */

