

  .animated-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    pointer-events: none;
    cursor: none;
    filter: blur(1);
    transform: translate(-50%, -50%);
    animation: colorChange 2s ;
  }
  @keyframes colorChange {
    0% {
        box-shadow: 0 0 10px rgb(255, 0, 0);
      opacity: 1;
      height: 25px;
      width: 25px;
    }
    25% {
        box-shadow: 0 0 10px rgb(0, 247, 255);
        opacity: 0.75;
    }
    50% {
        box-shadow: 0 0 10px rgb(255, 9, 255);
      opacity: 0.50;
    }
    75% {
        box-shadow: 0 0 10px rgb(28, 24, 255);
        opacity: 0.25;
    }
    100% {
        box-shadow: 0 0 10px rgb(86, 255, 1);
        scale: 4;
      opacity: 0;
    }
  }
  @keyframes spread {
    0% {
      transform: scale(1) translate(-50%, -50%);
      opacity: 1;
      box-shadow: 0 0 10px rgba(232, 0, 0, 0.75);
    }
    100% {
      transform: scale(4) translate(-50%, -50%);
      opacity: 0;
      box-shadow: 0 0 100px rgba(232, 0, 0, 0);
    }
  }
  @keyframes morph {
    0% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
      background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
      box-shadow: 0 0 10px rgba(232, 0, 0, 0.75);
      scale: (1);

    }
    50% {
      border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
      background: linear-gradient(45deg, var(--third) 0%, var(--secondary) 100%);
      box-shadow: 0 0 10px rgba(0, 224, 232, 0.75);
      scale: (2);

    }
    100% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
      background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
      box-shadow: 0 0 10px rgba(162, 0, 232, 0.75);
    height: 25px;
    width: 25px;

    }
  }










  